@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

/* 700 */

.Bold {
    font-family: Rubik;

}

.Medium {
    font-family: Rubik;

}

/* 400 */
.Normal {
    font-family: Rubik;

}

/* 300 */
.Light {
    font-family: Rubik;

}

/* font-family: 'Source Sans Pro', */

.SansPro {
    font-family: 'Source Sans Pro';
}


.bg_Banner {
    background-image: url(../assets/Image/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

/* trans color gra.... */

.Gradient {
    background: linear-gradient(315deg, #25DEEE 0%, #38A6E0 100%);

}