/* 700 */

.Bold {
    font-family: Rubik;

}

/* 600 */

.SemiBold {
    font-family: Rubik;

}

/* 500 */

.Medium {
    font-family: Rubik;

}

/* 400 */
.Normal {
    font-family: Rubik;

}

/* 300 */
.Light {
    font-family: Rubik;

}

/* font-family: 'Source Sans Pro', */

.SansPro {
    font-family: 'Source Sans Pro';
}


.bg_Banner {
    background-image: url(../assets/Image/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;




}

.bg_Footer {
    background-image: url(../assets/Image/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

/* trans color gra.... */

.Gradient {
    background: linear-gradient(315deg, #25DEEE 0%, #38A6E0 100%);



}

.Box_shadow {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);

}



.borderBottom {
    border-bottom: 1px solid #E8EBF0;
    opacity: 0.08;


}

.borderFooter {
    /* border-bottom: 1px solid #E8EBF0; */
    stroke-width: 1px;
    stroke: #FFF;
    opacity: 0.1475;


}


.ChosePlan {
    border-radius: 8px;
    background: linear-gradient(315deg, #25DEEE 0%, #38A6E0 100%);
}
.ChosePlan:hover {
    border-radius: 8px;
    background: linear-gradient(315deg, #0c7a84 0%, #38A6E0 100%);
}

.bg_stander:hover {
    background: linear-gradient(135deg, #743CBD 0%, #AB67C3 100%);
    color: white;

}

.input::placeholder {
    border: 1px solid #3498db; /* This will set the border color to a blue color */
  }


